@import './scss/reset';
@import './scss/variables';
@import './scss/hamburger';
@import './scss/navbar';
@import './scss/cart';

@mixin flexCenter(){
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

// Set up the body
body {
  font-family: $ff-KumbhSans;
  font-size: $fs-400;
  color:$primary-white;
  background-color: $primary-white; 
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

.div {
 @include flexCenter;
  background-color: $primary-white;
  padding: 28px 60px 50px;
  flex-direction: column;
}


.grid-gallery {
  display: grid;
  width: auto;
  // height: 650px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // grid-template-rows: repeat(3, 500px); /* Simplified notation for three equal rows */
  grid-template-columns: repeat(4, 1fr);
  /* Simplified notation for four equal columns */
  grid-template-areas:
    "Main-image Main-image Main-image Main-image"
    "Image-one Image-two Image-three Image-four";
  gap: 30px;
  /* Uncommented and fixed syntax */
}

.gallery-button {
  visibility: hidden;
}

.grid-gallery img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Individual image container styling */
#Main-image {
  grid-area: Main-image;
}

#Image-one {
  grid-area: Image-one;
}

#Image-two {
  grid-area: Image-two;
}

#Image-three {
  grid-area: Image-three;
}

#Image-four {
  grid-area: Image-four;
}

.grid-image{
  border-radius: 20px;
  margin: 0;
  padding: 0;
  &:hover img{
    opacity: 70%;
    overflow: hidden;
  }
}

/* Modal styling remains unchanged */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 10% auto;
  padding: 20px;
  width: 700px;
  animation: modalAnim 1s ease 0s 1 normal forwards;
}

@keyframes modalAnim {
    0% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0);
    }
}

.modal-content img {
  width: 600px;
  border-radius: 20px;
}

@keyframes imgAnim {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.modal .featured-image {
  width: 100%;
}

.carousel-buttons {
  @include flexCenter;
  align-self: center;
  position: absolute;
  text-align: center;
  gap: 530px;
}

.carousel-buttons button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.close {
  width: 30px;
  position: absolute;
  top: -55px;
  left: 650px;
  color: $primary-white;
  font-size: 50px;
  cursor: pointer;
}

.close:hover {
  color: #ff7e1b;
}

.overlay {
  visibility: hidden;
}

.div-2 {
  display: flex;
  margin-bottom: 54px;
  width: 100%;
  max-width: 1110px;
  flex-direction: column;
  align-items: center;
}

.fa-solid {
  font-size: 25px;

  &:hover {
    color: #ff7e1b;
  }
}

.div-5,
.div-9,
.div-6,
.div-7,
.div-8 {
  display: flex ;
  list-style: none;
  text-decoration: none;
  color: $primary-grey;
  font: 400 15px/173% $ff-KumbhSans;
}

.div-10 {
  justify-content: end;
  display: flex;
  gap: 20px;
}

/* cart */
#cartTab {
  z-index: 1;
  width: 350px;
  height: auto;
  padding: 20px;
  align-self: flex-end;
  background-color: $primary-white;
  color: $primary-grey;
  position: fixed;
  display: block;
  border-radius: 10px;
  top: 100px;
  transition: 0.5s;
  -webkit-box-shadow: -1px 10px 25px -12px #555;
  box-shadow: -1px 10px 25px -12px #555;
}

.cartAnim {
  animation: myAnim 500ms ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.showCart {
  visibility: visible;
}

.img-11{
  aspect-ratio: 1.06;
  object-fit: contain;
  object-position: center;
  width: 19px;
  color: $primary-white;
  overflow: hidden;
  max-width: 100%;
}

.div-11 {
  background-color: $blue-white;
  align-self: stretch;
  display: flex;
  margin-top: 34px;
  height: 1px;
  flex-direction: column;
}

.div-12 {
  margin-top: 90px;
  width: 100%;
  max-width: 1017px;
}

.div-13 {
  gap: 20px;
  display: flex;
  padding: 80px 0px 0px 40px;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 51%;
  margin-left: 0px;
}

.div-14 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.div-15 {
  display: flex;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 49%;
  margin-left: 20px;
}

.div-16 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding: 0px 20px 0px 80px;
}

.div-17 {
  color: $primary-orange;
  letter-spacing: 2px;
  text-transform: uppercase;
  align-self: stretch;
  font: 700 13px $ff-KumbhSans;
}

.div-18 {
  color: $primary-darkgrey;
  align-self: stretch;
  margin-top: 32px;
  font: 700 44px/48px $ff-KumbhSans;
}

.div-19 {
  color: $primary-grey;
  align-self: stretch;
  margin-top: 49px;
  font: 400 16px/26px $ff-KumbhSans;
}

.div-20 {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 20px;
}

.discount {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}

.div-21 {
  width: auto;
  padding: 2px;
  align-items: center;
  color: $primary-darkgrey;
  font: 700 28px $ff-roboto;
}

.div-22 {
  width: 50px;
  color: $primary-orange;
  white-space: nowrap;
  border-radius: 6px;
  background-color: $orange-white;
  aspect-ratio: 1.8888888888888888;
  justify-content: center;
  padding: 3px;
  font: 700 16px $ff-KumbhSans;
}

.div-23 {
  color: $grey-light;
  text-decoration-line: line-through;
  margin-top: 15px;
  font: 700 16px/162.5% $ff-KumbhSans;
}

.div-24 {
  display: flex;
  margin-top: 40px;
  gap: 10px;
}

.div-25 {
  border-radius: 10px;
  background-color: $blue-white;
  color: $primary-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 20px;
  width: 70%;
  height: 55px;
}

.div-25 span {
  font-weight: bold;
}

.minus,
.plus {
  cursor: pointer;
}

.img-9 {
  aspect-ratio: 4;
  object-fit: contain;
  object-position: center;
  width: 12px;
  overflow: hidden;
  max-width: 100%;
  margin: auto 0;
}

.div-26 {
  color: $primary-darkgrey;
  text-align: center;
  font: 700 16px $ff-KumbhSans;
}

.addtoCart {
  @include flexCenter;
  width: 100%;
  height: 55px;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  background-color: $primary-orange;
  gap: 16px;
}

.addtoCart:hover {
  box-shadow: 0px 20px 50px -20px $primary-orange;
  opacity: 70%;
}

.addtoCart:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.addtoCart:active {
  box-shadow: none;
  transform: translateY(0);
}

h1 {
  color: $primary-white;
  font: 700 16px $ff-KumbhSans;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 991px) {
  body,
  html {
    padding: 0;
    margin: 0;
  }

  a {
    font-weight: bold;
  }

  .hidden {
    visibility: hidden;
  }

  .hamburger {
    z-index: 4;
  }

  .navbar {
    z-index: 2;
    padding: 15px;
    position: fixed;
    height: 80px;
    background-color: $primary-white;
    box-shadow: -1px 0px 5px 0px #2c2c2c;
  }

  .navitems {
    z-index: 1;
    padding: 120px 10px 10px 30px;
    margin: -20px 0px;
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 250px;
    height: 1000px;
    background-color: $primary-white;
    display: block;
    -webkit-box-shadow: 6px 0px 15px -9px #000000;
    box-shadow: 6px 0px 12px -9px #353535;
  }

  .navbar-slide-in {
    animation: slideIn 500ms ease-in-out 0s ;
  }

  .navbar-slide-out {
    animation: slideOut 500ms ease-in-out 0s ;
  }

  @keyframes slideOut {
    0% {
      transform: translateX(-250px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(250px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  li {
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-top: 10px;
    overflow: hidden;
    font-weight: bold;
  }

  .is-active {
    transform: translateX(0); // Assuming the navbar slides in
  }

  #cartTab {
    margin: -15px 20px;
    width: 350px;
  }

  .overlay {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Adjust color and opacity as needed
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: -1; // Put it below all other content by default
  }

  .overlay-visible {
    visibility: visible;
    margin: 0;
    opacity: 1;
    z-index: 1; // Put the overlay above all content but below the navbar
  }

  .imglogo {
    margin: auto 70px;
  }

  .discount {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 110px;
  }

  .grid-gallery {
    display: grid;
    height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    /* Simplified notation for four equal columns */
    grid-template-areas: "Main-image";
    gap: 0px;
    margin-top: 80px;
  }

  .grid-gallery img {
    border-radius: 0;
  }

  .grid-image {
    border-radius: 0px;
    border: none;
    &:hover{
    opacity: 100% !important;
   }
  }

  // .grid-image img{
  //  z-index: 0;
  // }

  .gallery-button {
    @include flexCenter;
    width: 100%;
    visibility: visible;
    text-align: center;
    position: absolute;
    z-index: 0;
    gap: 65%;
  }

  .gallery-button button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
  }

  .modal {
    visibility: hidden;
  }

  #Image-one,
  #Image-two,
  #Image-three,
  #Image-four {
    position: absolute;
    visibility: hidden;
  }

  .div {
    padding: 0;
    margin: 0;
  }

  .div-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .div-3,
  .div-5,
  .div-9,
  .div-22 {
    display: flex;
    white-space: initial;
  }

  .div-11,
  .div-15 {
    max-width: 100%;
    position: absolute;
    visibility: hidden;
  }

  .div-13 {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    gap: 0px;
  }

  .div-16,
  .div-19 {
    max-width: 100%;
    margin-top: 40px;
  }

  .div-16 {
    padding: 20px;
  }

  .column,
  .column-2 {
    width: 100%;
    margin-left: 0;
  }

  .column-2 {
    position: relative;
  }

  .div-14,
  .div-17,
  .div-18 {
    max-width: 100%;
    margin: 0;
  }

  .img-3 {
    width: 25px;
    height: 25px;
    align-self: center;
  }

  .img-4 {
    max-width: 100%;
    border-radius: 0px;
  }

  .div-23 {
    max-width: 100%;
    margin-top: 20px;
    align-self: center;
  }

  .div-24 {
    max-width: 100%;
    display: block;
    margin-top: 0;
  }

  .div-25 {
    width: 100%;
    margin-bottom: 15px;
  }

  .addtocart {
    margin-top: 10px;
    width: 100%;
    height: 50px;
  }
}
