@use './variables';

@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
  }
  
#cartTab h3 {
    font-weight: bold;
    color: variables.$primary-black;
  }
  
  #cartTab button {
    @include flexCenter;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: variables.$primary-white;
    cursor: pointer;
    border-style: none;
    background-color: variables.$primary-orange;
    gap: 16px;
  }
  
  .checkOut:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .checkOut:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .listCart p {
    font-weight: bold;
  }
  
  .listCart .item img {
    width: 100%;
    border-radius: 5px;
  }
  
  .listCart .item {
    display: grid;
    // grid-template-columns: 70px 150px 50px 1fr;
    grid-template-columns: repeat(1, 60px 60px 15px 110px 15px);
    grid-template-areas:
      "image name name name minus"
      "image price quantity totalPrice minus";
    gap: 10px;
    align-items: center;
  }
  
  .image {
    grid-area: image;
  }
  
  .name {
    grid-area: name;
  }
  
  .price {
    grid-area: price;
    padding: 0;
    margin: 0;
  }
  
  .quantity {
    grid-area: quantity;
    width: 20px;
    padding: 0;
    margin: 0;
  }
  
  .minus {
    grid-area: minus;
  }
  
  .totaPrice {
    grid-area: totalPrice;
    font-weight: bold !important;
    color: variables.$primary-black;
  }
  
  .item .totaPrice {
    font-weight: bold !important;
    color: variables.$primary-black;
  }
  
  .listCart .quantity span {
    display: inline-block;
    width: 25px;
    cursor: pointer;
  }
  
  .listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: variables.$primary-darkgrey;
    font-weight: bold;
    cursor: auto;
  }
  
  .listCart .item:nth-child(even) {
    background-color: variables.$primary-darkgrey;
  }
  
  .listCart {
    overflow: auto;
  }
  
  .listCart::-webkit-scrollbar {
    width: 0;
  }

.addtoCart {
  @include flexCenter;
  width: 100%;
  height: 55px;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  background-color: variables.$primary-orange;
  gap: 16px;
}

.addtoCart:hover {
  box-shadow: 0px 20px 50px -20px variables.$primary-orange;
  opacity: 70%;
}

.addtoCart:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.addtoCart:active {
  box-shadow: none;
  transform: translateY(0);
}

/* cart */
#cartTab {
    z-index: 1;
    width: 350px;
    height: auto;
    padding: 20px;
    align-self: flex-end;
    background-color: variables.$primary-white;
    color: variables.$primary-grey;
    position: fixed;
    display: block;
    border-radius: 10px;
    top: 100px;
    transition: 0.5s;
    -webkit-box-shadow: -1px 10px 25px -12px #555;
    box-shadow: -1px 10px 25px -12px #555;
  }
  
  .cartAnim {
    animation: myAnim 500ms ease 0s 1 normal forwards;
  }
  
  .showCart {
    visibility: visible;
  }

     
  @keyframes myAnim {
    0% {
        transform: translateY(-20%);
    }
  
    100% {
        transform: translateY(0);
    }
  }
