

/* ------------------- */
/* Custom properties   */
/* ------------------- */

// Define color, font-size and font-family variables

$primary-black: #000;
$primary-white: #fff;
$primary-orange: #ff7e1b;
$orange-white: #ffeee2;
$primary-darkgrey: #1d2026;
$primary-grey: #69707d;
$grey-light: #b6bcc8;
$blue-white: #e4e9f2;

$fs-bold: bold;
$fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
$fs-800: 3.5rem;
$fs-700: 1.5rem;
$fs-600: 1rem;
$fs-500: 1rem;
$fs-400: 0.9375rem;
$fs-300: 1rem;
$fs-200: 0.875rem;

$ff-serif: "Bellefair", serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;
$ff-KumbhSans: "Kumbh Sans", sans-serif;
$ff-roboto: "Roboto", Helvetica;
$ff-apple-system: "apple-system", Helvetica;
